:root{
  font-family: "Roboto", sans-serif;
  --black: #121212;
  --green: #00FF00;
  --yellow: #FFEA00;
  --white:#FFFFFF;
  --blue:#29B6F6;
  color: var(--white);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--green),var(--black));;
}
.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
}
